mixin intro()
  .container
    section.ordered-blocks
      .ordered-blocks__block
      .ordered-blocks__block
      .ordered-blocks__block
      .ordered-blocks__block
      .ordered-blocks__block
    section.blocks
      .blocks__block
      .blocks__block
      .blocks__block
      .blocks__block

