.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 8px 15px;

  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  background-color: $color-pale-cornflower-blue;
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  outline: none;

  @include hover-focus {
    opacity: 0.8;
  }
}
