.ordered-blocks {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  margin: 15px 0 15px;

  counter-reset: block;

  background-color: $color-conifer;

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 160px;
    min-height: 198px;

    counter-increment: block;

    background-color: $color-de-york;

    &::before {
      content: counter(block);

      font-size: 53px;
      font-weight: normal;
      line-height: normal;

      color: $color-default-white;
    }

    &:nth-child(1) {
      flex-basis: 390px;
    }

    &:nth-child(2) {
      flex-basis: 590px;
    }

    &:nth-child(4) {
      flex-basis: 995px;
    }
  }
}

.blocks {
  display: flex;
  margin: 0 0 100px;
  padding: 30px;
  column-gap: 30px;
  row-gap: 30px;

  background-color: $color-glacier;

  &__block {
    width: 100%;
    max-width: 255px;
    padding-top: 18%;
    background-color: $color-bondi-blue;
  }
}
