mixin header(headerMods, currentUrl)
  .header
    .container
      .header__wrapper
        +btn({href: "#popup", text: "Open pop-up button"}).popup__button
  .popup(id="popup")
    a.popup__overlay(href="#")
    .popup__wrapper
      a.btn-reset.popup__close-button(href="#" aria-label="Close pop-up") X
      p.popup__text Pop-up

